.text-field:focused{
    -fx-background-color:  #2F2B43;
    -fx-background-insets:3.0;
    -fx-background-radius: 5.0;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #ffffff;
    -fx-font-size:12.0;
    -fx-font-weight:bold;

}


.text-field{
    -fx-background-color:  #4c466d;
    -fx-prompt-text-fill: #ffffff;
    -fx-text-fill: #ffffff;
    -fx-background-insets: -0.1, 2.0;
    -fx-font-size:14.0;
    -fx-background-radius : 10;
}